<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="font-wight-bold">Short Bio</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            
            <p class="text-justify">
                I am a professor at the Faculty of Engineering at <a href="http:\\uach.mx" target="_blank">The Autonomous University of Chihuahua</a>. My research in human-computer interaction and data science aims to help people to create value and help them to exchange it in order to improve their quality of life. Particularly, my prior and ongoing research follows a User Centered Design (design thinking) to design and implement novel technologies for children to improve their basic learning mechanisms; older adults to improve their physical and cognitive life; data scientists to easily create data sets. My research and teaching has been funded and recognized with CONACYT's postdoctoral Award and Cátedras program, <a href="https://tsb.northwestern.edu/alumni/" target="_blank">Northwestern University Postdoctoral Fellowship</a> position, and Best Paper Awards and Nominations at CSCW, CLIHC, and MexIHC.</p>
            <p>            
                I hold a Ph.D. and a M.S. in Computer Science from CICESE, and a BEng in Computer Systems from Tecnológico de La Paz.</p>
        </div>
        <div class="col-md-5">
            <img src="../../assets/images/me.jpg" alt="" class="img-thumbnail">            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="font-wight-bold">Contact</h2>
            <p>rcornejo [at] uach [dot] mx</p>
            <p>Engineering Faculty <br>
            Bulding A <br>
            UACH Campus 2</p>
        </div>
    </div>
</div>

