<app-header (featureSelected)="onNavigate($event)" ></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-publications *ngIf="loadedFeature==='pubs'"></app-publications>
            <app-research-group *ngIf="loadedFeature==='research'"></app-research-group>
            <app-teaching *ngIf="loadedFeature==='teach'"></app-teaching>
            <app-about *ngIf="loadedFeature==='about'"></app-about>
        </div>
    </div>    
</div>
<app-footer></app-footer>